body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image {
  height: 40vh;
  width: 80%;
  object-fit: fill;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  border-radius: 10px;
}

.social-icon {
color: black;
}

.social-icon:hover {
color: rgb(247, 129, 168);
}

p {
  text-align: center;
}

input {
  margin-top: 60px;
  width: 500px;
  height: 60px;
  font-size: 30px;
  text-align: center;

}

p {
  background-color: rgb(170, 37, 81, 0.8);
  color: rgb(255, 255, 255);
}

.textScore,
.score {
  background-color: rgb(0, 0, 0);
  color: rgb(170, 37, 81);
  width: 350px;
  text-align: center;
  font-weight: bolder;
}

.category {
  width: 300px;
}

.summary {
  width: 80%;
}

button {
  width: 100px;
  height: 30px;
  background-color: black;
  color:  rgb(247, 129, 168);
  font-weight: bolder;
}

button:hover {
  background-color:  rgb(247, 129, 168);
  color: black;
}